body {
    background-image: url("assets/background.png");
    border: 1px solid #fbf7f0;
}

div {
    border: 2px solid #fbf7f0;
    background-color: #cdc9c3;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    opacity: 0.9;
}

div.list {
    margin-left: auto;
}



h1 {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
}
  
h3 {
    color: #ffffff;
    text-align: center;
}

h4 {
    color: #ffffff;
    text-align: center;
    opacity: 1;
}

ul.first {
    
    list-style-type: disc;
    padding-left: 45%;
    background-color:#cdc9c3 ;
    color: #ffffff;
    opacity: 1;
    
}
ul.second {
    
    list-style-type: square;
    margin-left: auto;
    background-color:#cdc9c3 ;
    color: #ffffff;
    opacity: 1;
}


ul li {
    margin-left: 5px;
}

p {
    text-align: center;
    color: #ffffff;
    opacity: 1;
}

a:link {
    text-align: center;
    color: blue;
    opacity: 1;
}
a:visited {
    text-align: center;
    color: maroon;
    opacity: 1;
}
a:hover {
    text-align: center;
    color: white;
    opacity: 1;
}